asgiref
beautifulsoup4
black
bootstrap4
cachetools
certifi
cffi
charset-normalizer
click
colorama
crispy-bootstrap4
cryptography
dj-database-url
Django
django-allauth
django-bootstrap-v5
django-bootstrap4
django-crispy-forms
django-filter
django-heroku
djangorestframework
google-auth
gunicorn
idna
iniconfig
jwt
mypy-extensions
packaging
pathspec
pillow
platformdirs
pluggy
psycopg2
pyasn1
pyasn1_modules
pycparser
pytest
requests
rsa
soupsieve
sqlparse
typing_extensions
tzdata
urllib3
validate_email
waitress
whitenoise
